In [1]:
import pandas as pd
import numpy as np
import random

In [123]:
path='customer-shopping-trends-dataset/shopping_trends_updated.csv'
datalar=pd.read_csv(path)
datalar.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [124]:
datalar.shape

(3900, 18)

In [125]:
datalar.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [126]:
index_list = datalar.index.tolist()
column_list=datalar.columns.tolist()
random.seed(103)
for i in range(round(len(datalar)*0.05)):
    col=random.choice(column_list)
    row=random.choice(index_list)
    datalar.at[row, col]=np.nan

In [127]:
datalar.isnull().sum()

Customer ID               11
Age                       10
Gender                    11
Item Purchased            16
Category                   9
Purchase Amount (USD)      8
Location                   9
Size                      13
Color                     14
Season                    11
Review Rating             12
Subscription Status        7
Shipping Type             11
Discount Applied          10
Promo Code Used           15
Previous Purchases        10
Payment Method             9
Frequency of Purchases     9
dtype: int64

In [128]:
datalar[datalar.isnull().any(axis=1)]

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
46,47.0,57.0,Male,Shirt,Clothing,43.0,California,L,White,Summer,2.9,Yes,Store Pickup,Yes,NaN,45.0,Cash,Quarterly
80,81.0,19.0,Male,Sandals,Footwear,72.0,New York,XL,Blue,NaN,3.3,Yes,Store Pickup,Yes,Yes,24.0,Credit Card,Every 3 Months
90,91.0,25.0,Male,NaN,Accessories,48.0,South Carolina,L,Violet,Summer,2.9,Yes,Express,Yes,Yes,29.0,Credit Card,Monthly
115,116.0,53.0,Male,Skirt,Clothing,94.0,Wyoming,M,Gray,Spring,3.8,Yes,NaN,Yes,Yes,48.0,Debit Card,Every 3 Months
131,132.0,28.0,Male,Skirt,Clothing,29.0,Maine,L,NaN,Summer,3.9,Yes,Standard,Yes,Yes,46.0,Credit Card,Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3812,3813.0,50.0,NaN,Skirt,Clothing,75.0,Michigan,M,Pink,Spring,2.8,No,Next Day Air,No,No,7.0,Bank Transfer,Every 3 Months
3826,3827.0,50.0,Female,Jacket,Outerwear,31.0,Montana,M,Gray,Summer,4.0,No,Express,No,NaN,25.0,Bank Transfer,Annually
3840,3841.0,30.0,Female,Jeans,Clothing,42.0,Idaho,M,Turquoise,Spring,3.7,NaN,Express,No,No,5.0,Venmo,Fortnightly
3864,3865.0,55.0,Female,T-shirt,Clothing,99.0,Wyoming,NaN,Blue,Winter,4.9,No,Express,No,No,1.0,Debit Card,Fortnightly
3874,3875.0,70.0,Female,Sweater,Clothing,54.0,NaN,XL,Beige,Summer,3.9,No,2-Day Shipping,No,No,33.0,Credit Card,Bi-Weekly

In [11]:
datalar[datalar['Age'].isnull()]

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
109,110.0,NaN,Male,T-shirt,Clothing,85.0,Alabama,M,Violet,Spring,2.6,Yes,Next Day Air,Yes,Yes,43.0,Bank Transfer,Fortnightly
481,482.0,NaN,Male,Hat,Accessories,88.0,Wisconsin,L,Peach,Fall,3.2,Yes,2-Day Shipping,Yes,Yes,10.0,PayPal,Fortnightly
612,613.0,NaN,Male,Hat,Accessories,43.0,New Hampshire,L,Lavender,Fall,4.6,Yes,Express,Yes,Yes,33.0,Credit Card,Quarterly
702,703.0,NaN,Male,Shirt,Clothing,71.0,Montana,M,White,Winter,3.4,Yes,Store Pickup,Yes,Yes,1.0,Cash,Weekly
791,792.0,NaN,Male,Scarf,Accessories,44.0,North Carolina,S,Magenta,Summer,3.1,Yes,2-Day Shipping,Yes,Yes,35.0,PayPal,Fortnightly
849,850.0,NaN,Male,Jeans,Clothing,61.0,Missouri,S,Charcoal,Spring,4.3,Yes,Express,Yes,Yes,24.0,PayPal,Quarterly
1142,1143.0,NaN,Male,T-shirt,Clothing,76.0,Ohio,L,Green,Spring,3.5,No,Store Pickup,Yes,Yes,27.0,Venmo,Bi-Weekly
1621,1622.0,NaN,Male,Scarf,Accessories,46.0,Ohio,L,Gray,Summer,3.9,No,2-Day Shipping,Yes,Yes,38.0,Debit Card,Fortnightly
2056,2057.0,NaN,Male,Backpack,Accessories,46.0,Minnesota,L,Blue,Spring,4.4,No,2-Day Shipping,No,No,29.0,PayPal,Monthly
2100,2101.0,NaN,Male,Sweater,Clothing,31.0,Michigan,M,Silver,Spring,4.4,No,Free Shipping,No,No,36.0,Cash,Fortnightly
2198,2199.0,NaN,Male,Scarf,Accessories,80.0,New York,L,Turquoise,Summer,3.5,No,Free Shipping,No,No,35.0,Venmo,Monthly
2424,2425.0,NaN,Male,Jewelry,Accessories,57.0,Delaware,M,Peach,Winter,4.5,No,Next Day Air,No,No,28.0,Bank Transfer,Bi-Weekly
2722,2723.0,NaN,Female,Hat,Accessories,83.0,Maine,M,Green,Spring,2.8,No,2-Day Shipping,No,No,22.0,PayPal,Fortnightly
2926,2927.0,NaN,Female,Handbag,Accessories,82.0,Maryland,M,Gray,Winter,4.8,No,2-Day Shipping,No,No,9.0,Cash,Weekly
3075,3076.0,NaN,Female,Shorts,Clothing,90.0,Utah,XL,Beige,Winter,3.6,No,Standard,No,No,21.0,PayPal,Every 3 Months
3226,3227.0,NaN,Female,Sneakers,Footwear,71.0,Minnesota,XL,Beige,Spring,3.3,No,Next Day Air,No,No,38.0,Bank Transfer,Fortnightly
3750,3751.0,NaN,Female,Hoodie,Clothing,88.0,Arizona,M,Gold,Fall,3.1,No,Free Shipping,No,No,5.0,PayPal,Monthly

In [129]:
datalar['Age'].describe()

count    3890.000000
mean       44.062725
std        15.212785
min        18.000000
25%        31.000000
50%        44.000000
75%        57.000000
max        70.000000
Name: Age, dtype: float64

In [130]:
datalar['Age'].mode()

0    69.0
Name: Age, dtype: float64

In [131]:
datalar['Previous Purchases'].describe()

count    3890.000000
mean       25.351671
std        14.435989
min         1.000000
25%        13.000000
50%        25.000000
75%        38.000000
max        50.000000
Name: Previous Purchases, dtype: float64

In [133]:
print(datalar[datalar['Previous Purchases']<13]['Age'].mean())
print(datalar[(datalar['Previous Purchases']>13)&(datalar['Previous Purchases']<25)]['Age'].mean())
print(datalar[(datalar['Previous Purchases']>25)&(datalar['Previous Purchases']<38)]['Age'].mean())
print(datalar[datalar['Previous Purchases']>38]['Age'].mean())
print(datalar['Age'].mean())

42.89989350372737
43.88709677419355
44.75160599571735
44.58351409978308
44.062724935732646

In [134]:
mean_age = datalar['Age'].mean()
datalar['Age'].fillna(mean_age, inplace=True)

In [135]:
datalar['Age'].isnull().sum()

0

In [136]:
datalar[datalar['Gender'].isnull()]

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
541,542.0,52.0,NaN,Jacket,Outerwear,27.0,Connecticut,L,Gray,Fall,2.8,Yes,Next Day Air,Yes,Yes,45.0,Cash,Bi-Weekly
723,724.0,35.0,NaN,Jewelry,Accessories,53.0,Missouri,L,Cyan,Fall,3.5,Yes,Express,Yes,Yes,43.0,PayPal,Monthly
895,896.0,40.0,NaN,Hat,Accessories,69.0,Mississippi,XL,Olive,Spring,4.7,Yes,Next Day Air,Yes,Yes,33.0,Debit Card,Quarterly
1252,1253.0,28.0,NaN,Sandals,Footwear,41.0,Massachusetts,L,Magenta,Fall,4.0,No,Standard,Yes,Yes,8.0,Cash,Quarterly
2647,2648.0,60.0,NaN,Shoes,Footwear,58.0,South Carolina,M,Red,Summer,3.3,No,2-Day Shipping,No,No,25.0,Debit Card,Annually
2980,2981.0,70.0,NaN,Gloves,Accessories,93.0,New Jersey,L,Teal,Fall,4.4,No,2-Day Shipping,No,No,9.0,Bank Transfer,Monthly
3182,3183.0,50.0,NaN,Sunglasses,Accessories,97.0,Georgia,L,Green,Fall,3.6,No,Free Shipping,No,No,4.0,Credit Card,Annually
3253,3254.0,36.0,NaN,Backpack,Accessories,60.0,Nebraska,M,Brown,Fall,3.2,No,2-Day Shipping,No,No,8.0,Venmo,Fortnightly
3460,3461.0,41.0,NaN,Scarf,Accessories,78.0,Indiana,M,Gold,Spring,3.1,No,Express,No,No,5.0,Bank Transfer,Bi-Weekly
3737,3738.0,19.0,NaN,Jewelry,Accessories,23.0,Kentucky,S,Maroon,Winter,4.9,No,Free Shipping,No,No,43.0,PayPal,Bi-Weekly
3812,3813.0,50.0,NaN,Skirt,Clothing,75.0,Michigan,M,Pink,Spring,2.8,No,Next Day Air,No,No,7.0,Bank Transfer,Every 3 Months

In [137]:
datalar['Gender'].value_counts(normalize=True)

Gender
Male      0.680638
Female    0.319362
Name: proportion, dtype: float64

In [138]:
result = datalar.groupby('Item Purchased')['Gender'].value_counts().unstack().fillna(0)
print(result)

Gender          Female  Male
Item Purchased
Backpack            36   105
Belt                55   106
Blouse              66   104
Boots               49    93
Coat                47   114
Dress               52   114
Gloves              36   103
Handbag             58    95
Hat                 52    99
Hoodie              50   100
Jacket              53   108
Jeans               28    95
Jewelry             51   116
Pants               48   123
Sandals             59   100
Scarf               44   112
Shirt               59   109
Shoes               48   101
Shorts              48   109
Skirt               48   108
Sneakers            42   102
Socks               57   101
Sunglasses          54   105
Sweater             50   114
T-shirt             46   101

In [139]:
result = datalar.groupby('Size')['Gender'].value_counts().unstack().fillna(0)
print(result)

Gender  Female  Male
Size
L          335   713
M          587  1157
S          185   473
XL         134   292

In [140]:
result = datalar.groupby('Color')['Gender'].value_counts(normalize=True).unstack().fillna(0)
print(result)

Gender       Female      Male
Color
Beige      0.273973  0.726027
Black      0.315152  0.684848
Blue       0.342105  0.657895
Brown      0.323741  0.676259
Charcoal   0.326797  0.673203
Cyan       0.286585  0.713415
Gold       0.291971  0.708029
Gray       0.335443  0.664557
Green      0.323353  0.676647
Indigo     0.308219  0.691781
Lavender   0.324138  0.675862
Magenta    0.377483  0.622517
Maroon     0.341935  0.658065
Olive      0.335227  0.664773
Orange     0.333333  0.666667
Peach      0.322148  0.677852
Pink       0.377483  0.622517
Purple     0.273333  0.726667
Red        0.299320  0.700680
Silver     0.300578  0.699422
Teal       0.304094  0.695906
Turquoise  0.275862  0.724138
Violet     0.319277  0.680723
White      0.316901  0.683099
Yellow     0.344828  0.655172

In [141]:
result = datalar.groupby('Payment Method')['Gender'].value_counts(normalize=True).unstack().fillna(0)
print(result)

Gender            Female      Male
Payment Method
Bank Transfer   0.328947  0.671053
Cash            0.318797  0.681203
Credit Card     0.330344  0.669656
Debit Card      0.285489  0.714511
PayPal          0.326409  0.673591
Venmo           0.326984  0.673016

In [142]:
result = datalar.groupby('Item Purchased')['Gender'].value_counts(normalize=True).unstack().fillna(0)
print(result)

Gender            Female      Male
Item Purchased
Backpack        0.255319  0.744681
Belt            0.341615  0.658385
Blouse          0.388235  0.611765
Boots           0.345070  0.654930
Coat            0.291925  0.708075
Dress           0.313253  0.686747
Gloves          0.258993  0.741007
Handbag         0.379085  0.620915
Hat             0.344371  0.655629
Hoodie          0.333333  0.666667
Jacket          0.329193  0.670807
Jeans           0.227642  0.772358
Jewelry         0.305389  0.694611
Pants           0.280702  0.719298
Sandals         0.371069  0.628931
Scarf           0.282051  0.717949
Shirt           0.351190  0.648810
Shoes           0.322148  0.677852
Shorts          0.305732  0.694268
Skirt           0.307692  0.692308
Sneakers        0.291667  0.708333
Socks           0.360759  0.639241
Sunglasses      0.339623  0.660377
Sweater         0.304878  0.695122
T-shirt         0.312925  0.687075

In [143]:
from sklearn.impute import SimpleImputer

In [144]:
gender_column = datalar[['Gender']]
imputer = SimpleImputer(strategy='most_frequent')
imputed_gender = imputer.fit_transform(gender_column)
datalar['Gender'] = imputed_gender.reshape(-1)

In [145]:
datalar['Gender'].isnull().sum()

0

In [108]:
cat_items=datalar[['Category', 'Item Purchased']].drop_duplicates().dropna()
cat_items

       Category Item Purchased
0      Clothing         Blouse
1      Clothing        Sweater
2      Clothing          Jeans
3      Footwear        Sandals
5      Footwear       Sneakers
6      Clothing          Shirt
7      Clothing         Shorts
8     Outerwear           Coat
9   Accessories        Handbag
10     Footwear          Shoes
13     Clothing          Dress
15     Clothing          Skirt
16  Accessories     Sunglasses
19     Clothing          Pants
24    Outerwear         Jacket
25     Clothing         Hoodie
26  Accessories        Jewelry
34     Clothing        T-shirt
41  Accessories          Scarf
44  Accessories            Hat
45     Clothing          Socks
56  Accessories       Backpack
59  Accessories           Belt
64     Footwear          Boots
74  Accessories         Gloves

In [53]:
'''
cat_items_dict = {}

for index, row in cat_items.iterrows():
    if row['Category'] not in cat_items_dict.keys():
        cat_items_dict[row['Category']] = [row['Item Purchased']]
    else:
        cat_items_dict[row['Category']].extend([row['Item Purchased']])

print(cat_items_dict)
'''

{'Clothing': ['Blouse', 'Sweater', 'Jeans', 'Shirt', 'Shorts', 'Dress', 'Skirt', 'Pants', 'Hoodie', 'T-shirt', 'Socks'], 'Footwear': ['Sandals', 'Sneakers', 'Shoes', 'Boots'], 'Outerwear': ['Coat', 'Jacket'], 'Accessories': ['Handbag', 'Sunglasses', 'Jewelry', 'Scarf', 'Hat', 'Backpack', 'Belt', 'Gloves']}

In [146]:
cat_items_dict2 = {}

for index, row in cat_items.iterrows():
    if row['Category'] not in cat_items_dict2.keys():
        cat_items_dict2[row['Item Purchased']] = row['Category']
        
print(cat_items_dict2)

{'Blouse': 'Clothing', 'Sweater': 'Clothing', 'Jeans': 'Clothing', 'Sandals': 'Footwear', 'Sneakers': 'Footwear', 'Shirt': 'Clothing', 'Shorts': 'Clothing', 'Coat': 'Outerwear', 'Handbag': 'Accessories', 'Shoes': 'Footwear', 'Dress': 'Clothing', 'Skirt': 'Clothing', 'Sunglasses': 'Accessories', 'Pants': 'Clothing', 'Jacket': 'Outerwear', 'Hoodie': 'Clothing', 'Jewelry': 'Accessories', 'T-shirt': 'Clothing', 'Scarf': 'Accessories', 'Hat': 'Accessories', 'Socks': 'Clothing', 'Backpack': 'Accessories', 'Belt': 'Accessories', 'Boots': 'Footwear', 'Gloves': 'Accessories'}

In [158]:
datalar[datalar['Category'].isnull()]

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Categories
537,538.0,50.0,Male,Blouse,NaN,49.0,Virginia,S,Turquoise,Summer,3.0,Yes,Store Pickup,Yes,Yes,14.0,Debit Card,Annually,Clothing
808,809.0,46.0,Male,Shoes,NaN,96.0,Wisconsin,L,Lavender,Fall,4.6,Yes,Next Day Air,Yes,Yes,38.0,Cash,Every 3 Months,Footwear
974,975.0,69.0,Male,Skirt,NaN,90.0,North Carolina,M,Beige,Spring,3.6,Yes,2-Day Shipping,Yes,Yes,23.0,Bank Transfer,Monthly,Clothing
1361,1362.0,49.0,Male,Dress,NaN,32.0,Alabama,M,Beige,Fall,3.7,No,Next Day Air,Yes,Yes,39.0,Debit Card,Monthly,Clothing
1877,1878.0,69.0,Male,Gloves,NaN,62.0,Pennsylvania,L,Pink,Fall,3.6,No,Express,No,No,3.0,Credit Card,Annually,Accessories
2009,2010.0,37.0,Male,Boots,NaN,99.0,Alabama,M,Indigo,Summer,3.8,No,Next Day Air,No,No,26.0,Venmo,Bi-Weekly,Footwear
2168,2169.0,23.0,Male,Handbag,NaN,74.0,Connecticut,M,Beige,Spring,4.1,No,Next Day Air,No,No,32.0,Cash,Quarterly,Accessories
2487,2488.0,57.0,Male,Boots,NaN,21.0,Montana,L,Violet,Spring,3.0,No,Next Day Air,No,No,16.0,PayPal,Bi-Weekly,Footwear
2937,2938.0,28.0,Female,Handbag,NaN,39.0,West Virginia,M,White,Spring,4.3,No,2-Day Shipping,No,No,15.0,Credit Card,Weekly,Accessories

In [148]:
datalar['Categories'] = datalar['Item Purchased'].map(cat_items_dict2)

In [159]:
datalar.drop(columns='Category')

,Customer ID,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Categories
0,1.0,55.0,Male,Blouse,53.0,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14.0,Venmo,Fortnightly,Clothing
1,2.0,19.0,Male,Sweater,64.0,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2.0,Cash,Fortnightly,Clothing
2,3.0,50.0,Male,Jeans,73.0,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23.0,Credit Card,Weekly,Clothing
3,4.0,21.0,Male,Sandals,90.0,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49.0,PayPal,Weekly,Footwear
4,5.0,45.0,Male,Blouse,49.0,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31.0,PayPal,Annually,Clothing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896.0,40.0,Female,Hoodie,28.0,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32.0,Venmo,Weekly,Clothing
3896,3897.0,52.0,Female,Backpack,49.0,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41.0,Bank Transfer,Bi-Weekly,Accessories
3897,3898.0,46.0,Female,Belt,33.0,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24.0,Venmo,Quarterly,Accessories
3898,3899.0,44.0,Female,Shoes,77.0,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24.0,Venmo,Weekly,Footwear
3899,3900.0,52.0,Female,Handbag,81.0,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33.0,Venmo,Quarterly,Accessories

In [160]:
datalar.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased            16
Category                   9
Purchase Amount (USD)      8
Location                   9
Size                      13
Color                     14
Season                    11
Review Rating             12
Subscription Status        7
Shipping Type             11
Discount Applied          10
Promo Code Used           15
Previous Purchases        10
Payment Method             9
Frequency of Purchases     9
Categories                16
dtype: int64

In [156]:
for index, row in datalar.iterrows():
    datalar.at[index, 'Customer ID'] = int(index) + 1

In [162]:
datalar.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases', 'Categories'],
      dtype='object')

In [164]:
result = datalar.groupby('Frequency of Purchases')['Discount Applied'].value_counts(normalize=True).unstack().fillna(0)
print(result)

Discount Applied              No       Yes
Frequency of Purchases
Annually                0.584939  0.415061
Bi-Weekly               0.587156  0.412844
Every 3 Months          0.560345  0.439655
Fortnightly             0.552045  0.447955
Monthly                 0.571429  0.428571
Quarterly               0.573477  0.426523
Weekly                  0.565299  0.434701

In [165]:
result = datalar.groupby('Previous Purchases')['Discount Applied'].value_counts(normalize=True).unstack().fillna(0)
print(result)

Discount Applied          No       Yes
Previous Purchases
1.0                 0.621951  0.378049
2.0                 0.549296  0.450704
3.0                 0.544444  0.455556
4.0                 0.633333  0.366667
5.0                 0.620690  0.379310
6.0                 0.540230  0.459770
7.0                 0.646154  0.353846
8.0                 0.447761  0.552239
9.0                 0.723077  0.276923
10.0                0.618421  0.381579
11.0                0.500000  0.500000
12.0                0.558442  0.441558
13.0                0.623188  0.376812
14.0                0.619565  0.380435
15.0                0.575342  0.424658
16.0                0.557143  0.442857
17.0                0.611940  0.388060
18.0                0.554217  0.445783
19.0                0.565789  0.434211
20.0                0.590361  0.409639
21.0                0.500000  0.500000
22.0                0.562500  0.437500
23.0                0.520548  0.479452
24.0                0.494505  0.505495
25.0                0.493671  0.506329
26.0                0.571429  0.428571
27.0                0.558442  0.441558
28.0                0.712500  0.287500
29.0                0.623188  0.376812
30.0                0.573171  0.426829
31.0                0.677083  0.322917
32.0                0.592593  0.407407
33.0                0.530864  0.469136
34.0                0.525641  0.474359
35.0                0.587302  0.412698
36.0                0.614286  0.385714
37.0                0.435897  0.564103
38.0                0.600000  0.400000
39.0                0.567901  0.432099
40.0                0.560976  0.439024
41.0                0.628571  0.371429
42.0                0.500000  0.500000
43.0                0.555556  0.444444
44.0                0.557143  0.442857
45.0                0.542169  0.457831
46.0                0.551282  0.448718
47.0                0.611111  0.388889
48.0                0.500000  0.500000
49.0                0.568966  0.431034
50.0                0.526316  0.473684