In [84]:
import pandas as pd
import numpy as np
from datetime import datetime

In [85]:
path='D:/code academy/week 5/data.csv'

In [86]:
df=pd.read_csv(path)

In [87]:
df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [88]:
df.shape

(1401066, 10)

In [89]:
df.isnull().sum()

status                 0
bed               216528
bath              194213
acre_lot          357467
city                 191
state                  0
zip_code             479
house_size        450112
prev_sold_date    686293
price                108
dtype: int64

In [90]:
for c in df.columns:
    print(c, round(df[c].isnull().sum()/len(df),2))

status 0.0
bed 0.15
bath 0.14
acre_lot 0.26
city 0.0
state 0.0
zip_code 0.0
house_size 0.32
prev_sold_date 0.49
price 0.0

In [91]:
for c in df.columns:
    print(c,"-",  df[c].dtype, "-", df[c].nunique())

status - object - 2
bed - float64 - 48
bath - float64 - 42
acre_lot - float64 - 4488
city - object - 3512
state - object - 19
zip_code - float64 - 4220
house_size - float64 - 6855
prev_sold_date - object - 10319
price - float64 - 8735

In [92]:
df.drop_duplicates(inplace=True)

In [93]:
df['prev_sold_date']=pd.to_datetime(df['prev_sold_date'], format='%Y-%m-%d')

In [94]:
df.shape

(152040, 10)

In [95]:
df['status'].value_counts() #2 variable var, tipi kateqorikdir

status
for_sale          151745
ready_to_build       295
Name: count, dtype: int64

In [96]:
df['bed'].value_counts() # tipi numericdir

bed
3.0      42228
4.0      27185
2.0      24675
1.0      11599
5.0      10298
6.0       5664
7.0       1935
8.0       1394
9.0        667
10.0       375
12.0       240
11.0       177
14.0        61
13.0        61
16.0        39
15.0        35
18.0        26
20.0        23
17.0        22
22.0        11
19.0        11
21.0        10
24.0         7
28.0         5
23.0         5
25.0         4
40.0         3
30.0         3
31.0         3
42.0         2
29.0         2
27.0         2
36.0         2
32.0         2
33.0         2
49.0         1
99.0         1
46.0         1
60.0         1
68.0         1
123.0        1
86.0         1
47.0         1
35.0         1
38.0         1
64.0         1
48.0         1
75.0         1
Name: count, dtype: int64

In [97]:
df['bath'].value_counts() #numeric

bath
2.0      45592
1.0      31202
3.0      30907
4.0      11295
5.0       4553
6.0       2193
7.0       1063
8.0        687
9.0        372
10.0       233
11.0       105
12.0       104
13.0        43
16.0        23
14.0        21
15.0        18
18.0        14
17.0        13
20.0        10
19.0         8
22.0         5
21.0         5
28.0         4
25.0         3
24.0         3
30.0         3
29.0         2
36.0         2
27.0         2
35.0         2
33.0         1
198.0        1
51.0         1
42.0         1
56.0         1
46.0         1
123.0        1
39.0         1
43.0         1
32.0         1
45.0         1
64.0         1
Name: count, dtype: int64

In [98]:
df['zip_code'].value_counts()

zip_code
11201.0    743
10023.0    725
10022.0    700
10011.0    646
10016.0    636
          ...
4635.0       1
4629.0       1
6904.0       1
4637.0       1
4662.0       1
Name: count, Length: 4220, dtype: int64

In [99]:
#df = df.astype({"Name":'category', "Age":'int64'}) 
#zip_code - nominaldir
df['zip_code'] = df['zip_code'].fillna(-1)
df['zip_code'] = df['zip_code'].astype(int)
df['zip_code'] = df['zip_code'].astype(str)
df['zip_code'] = df['zip_code'].replace('-1', np.nan)

In [100]:
city_dict=df['city'].value_counts().to_dict()

In [101]:
city_list=[]
for city in city_dict:
    if city not in city_list:
        city_list.append(city)
    else:
        pass
city_list.sort()
print(city_list)

['Abbot', 'Aberdeen', 'Abington', 'Absecon', 'Absecon Highlands', 'Accord', 'Acra', 'Acton', 'Acushnet', 'Acworth', 'Adams', 'Adams Center', 'Adamstown Township', 'Addisleigh Park', 'Addison', 'Adelphia', 'Adjuntas', 'Afton', 'Agawam', 'Aguada', 'Aguadilla', 'Aguas Buenas', 'Aibonito', 'Airmont', 'Akron', 'Alabama', 'Albany', 'Albertson', 'Albion', 'Alburgh', 'Aldan', 'Alden', 'Alder Creek', 'Alexander', 'Alexandria', 'Alexandria Bay', 'Alexandria Township', 'Alford', 'Alfred', 'Allaben', 'Allagash', 'Allamuchy Township', 'Allendale', 'Allenhurst', 'Allenstown', 'Allentown', 'Allenwood', 'Alloway', 'Allston', 'Alna', 'Alpha', 'Alpine', 'Alstead', 'Altamont', 'Altmar', 'Alton', 'Altona', 'Amagansett', 'Amawalk', 'Ambler', 'Amboy', 'Amenia', 'Ames', 'Amesbury', 'Amherst', 'Amity', 'Amity Harbor', 'Amityville', 'Amsterdam', 'Anasco', 'Ancram', 'Ancramdale', 'Anderson Rd', 'Andes', 'Andover', 'Angelica', 'Angola', 'Annandale', 'Annsville', 'Anson', 'Ansonia', 'Antrim', 'Antwerp', 'Apalachin', 'Appleton', 'Apulia Station', 'Aquebogue', 'Aquinnah', 'Ararat', 'Arcade', 'Arden', 'Ardmore', 'Ardsley', 'Arecibo', 'Argyle', 'Argyle Township', 'Arietta', 'Arkville', 'Arlington', 'Armonk', 'Arrowsic', 'Arroyo', 'Arundel', 'Arverne', 'Asbury Park', 'Ashburnham', 'Ashby', 'Ashfield', 'Ashford', 'Ashland', 'Aston', 'Astoria', 'Atco', 'Athens', 'Athol', 'Atkinson', 'Atlantic Beach', 'Atlantic City', 'Atlantic Highlands', 'Atlantique', 'Attica', 'Attleboro', 'Au Sable Forks', 'Auburn', 'Audubon', 'Augusta', 'Aurora', 'Ausable', 'Austerlitz', 'Ava', 'Avalon', 'Avalon Manor', 'Avenel', 'Averill', 'Avon', 'Avon By The Sea', 'Avondale', 'Ayer', 'Babylon', 'Back Bay', 'Baileyville', 'Bainbridge', 'Baiting Hollow', 'Bakersfield', 'Bala Cynwyd', 'Baldwin', 'Baldwin Harbor', 'Baldwinsville', 'Ballston Lake', 'Ballston Spa', 'Baltimore', 'Bangor', 'Bar Harbor', 'Barceloneta', 'Bardonia', 'Baring Plt', 'Barker', 'Barkhamsted', 'Barnard', 'Barnegat', 'Barnegat Light', 'Barnegat Township', 'Barnet', 'Barneveld', 'Barnstable', 'Barnstead', 'Barranquitas', 'Barre', 'Barrington', 'Barryville', 'Bartlett', 'Barton', 'Basking Ridge', 'Basom', 'Bass River', 'Batavia', 'Bath', 'Bath Beach', 'Bay Head', 'Bay Shore', 'Bayamon', 'Bayamón', 'Bayonne', 'Bayport', 'Bayside', 'Bayville', 'Beach Haven', 'Beach Haven West', 'Beach Lake', 'Beachwood', 'Beacon', 'Beacon Falls', 'Beals', 'Bear', 'Bearsville', 'Beaver Cove', 'Becket', 'Bed Stuy', 'Beddington', 'Bedford', 'Bedford Corners', 'Bedford Hills', 'Bedminster Twp', 'Bedstuy', 'Bedstuy Brooklyn', 'Beechhurst', 'Beekmantown', 'Beesleys Point', 'Belchertown', 'Belfast', 'Belford', 'Belgrade', 'Belle Harbor', 'Belle Mead', 'Belle Terre', 'Belleplain', 'Bellerose', 'Bellerose Manor', 'Bellerose village', 'Belleville', 'Bellingham', 'Bellmawr', 'Bellmore', 'Bellport', 'Bellport village', 'Belmar', 'Belmont', 'Belvidere', 'Benedicta', 'Bennington', 'Bensalem', 'Benson', 'Benton', 'Bergen', 'Bergenfield', 'Berkeley', 'Berkeley Heights', 'Berkeley Heights Twp', 'Berkeley Township', 'Berkley', 'Berkshire', 'Berlin', 'Bernards Twp', 'Bernardston', 'Bernardsville', 'Berne', 'Bernhards Bay', 'Berwick', 'Berwyn', 'Bethany', 'Bethel', 'Bethlehem', 'Bethlehem Township', 'Bethpage', 'Beverly', 'Biddeford', 'Big Indian', 'Big Lake Township', 'Big Moose', 'Big Moose Township', 'Billerica', 'Bingham', 'Binghamton', 'Black Brook', 'Black River', 'Blackstone', 'Blackwood', 'Blaine', 'Blairstown', 'Blanchard Township', 'Blandford', 'Blasdell', 'Blauvelt', 'Bleecker', 'Blenheim', 'Bliss', 'Block Island', 'Bloomfield', 'Blooming Grove', 'Bloomingburg', 'Bloomingdale', 'Bloomington', 'Bloomsbury', 'Blossvale', 'Blue Anchor', 'Blue Hill', 'Blue Point', 'Bogota', 'Bohemia', 'Boiceville', 'Bolton', 'Bolton Landing', 'Bombay', 'Boonton', 'Boonton Township', 'Boonville', 'Boothbay', 'Boothbay Harbor', 'Boothwyn', 'Boqueron', 'Bordentown', 'Boscawen', 'Boston', 'Bound Brook', 'Bourne', 'Bournedale', 'Bovina Center', 'Bow', 'Bowdoin', 'Bowdoinham', 'Bowerbank', 'Bowmansville', 'Boxborough', 'Boxford', 'Boylston', 'Bozrah', 'Brackney', 'Bradford', 'Bradley', 'Bradley Beach', 'Braintree', 'Branchburg', 'Branchburg Township', 'Branchville', 'Brandon', 'Branford', 'Brant', 'Brantingham', 'Brasher Falls', 'Brattleboro', 'Breezy Point', 'Bremen', 'Brentwood', 'Brewer', 'Brewerton', 'Brewster', 'Briarcliff Manor', 'Briarwood', 'Brick', 'Brick Township', 'Bridgehampton', 'Bridgeport', 'Bridgeton', 'Bridgewater', 'Bridgewater Twp', 'Bridgton', 'Bridport', 'Brielle', 'Brigantine', 'Brigantine City', 'Brighton', 'Brighton Beach', 'Brightwaters', 'Brimfield', 'Bristol', 'Broad Channel', 'Broadalbin', 'Broadalbin Village', 'Brockport', 'Brockton', 'Brocton', 'Bronx', 'Bronxville', 'Brookfield', 'Brookhaven', 'Brookhaven Hamlet', 'Brooklawn', 'Brooklin', 'Brookline', 'Brooklyn', 'Brooklyn Heights', 'Brooklyn Ny 11220', 'Brooks', 'Brooksville', 'Brookton', 'Brooktondale', 'Brookville', 'Broomall', 'Broome', 'Browndale', 'Brownfield', 'Brownington', 'Browns Mills', 'Brownville', 'Brunswick', 'Brushton', 'Bryn Mawr', 'Buchanan', 'Buckfield', 'Buckland', 'Bucksport', 'Budd Lake', 'Buena', 'Buena Vista', 'Buena Vista Township', 'Buffalo', 'Bullville', 'Burdett', 'Burke', 'Burleigh', 'Burlingham', 'Burlington', 'Burlington City', 'Burlington Flats', 'Burlington Township', 'Burnham', 'Burrillville', 'Burt', 'Bushkill', 'Bushwick', 'Butler', 'Butternuts', 'Buxton', 'Buzzards Bay', 'Byram Township', 'Byron', 'Cabo Rojo', 'Cabot', 'Cadyville', 'Caguas', 'Cairo', 'Calais', 'Calcium', 'Caldwell', 'Caldwell Boro Township', 'Caledonia', 'Califon', 'Callicoon', 'Callicoon Center', 'Calverton', 'Cambria Heights', 'Cambridge', 'Cambridge Village', 'Camden', 'Camillus', 'Campbell Hall', 'Campton', 'Camuy', 'Canaan', 'Canajoharie', 'Canajoharie Village', 'Canarsie', 'Canastota', 'Candia', 'Candor', 'Caneadea', 'Canovanas', 'Canterbury', 'Canton', 'Cape Charles', 'Cape Elizabeth', 'Cape May', 'Cape May Beach', 'Cape May Court House', 'Cape May Point', 'Cape Vincent', 'Caratunk', 'Caribou', 'Carle Place', 'Carlisle', 'Carlstadt', 'Carmel', 'Carmel Hamlet', 'Carneys Point', 'Caroga', 'Caroga Lake', 'Carolina', 'Carrabassett Valley', 'Carroll', 'Carroll Plt', 'Carrying Place Town Township', 'Carteret', 'Carthage', 'Carver', 'Carversville', 'Cary Plt', 'Casco', 'Cassville', 'Castile', 'Castine', 'Castle Creek', 'Castle Hill', 'Castle Mountain Ln', 'Castleton', 'Castleton On Hudson', 'Castorland', 'Caswell', 'Catano', 'Cataumet', 'Cathance Township', 'Cato', 'Catskill', 'Catskill Village', 'Cattaraugus', 'Cavendish', 'Cayey', 'Cayuga', 'Cayuta', 'Cazenovia', 'Cedar Grove', 'Cedarhurst', 'Cedarville', 'Ceiba', 'Center Moriches', 'Centereach', 'Centerport', 'Centerville', 'Central Bridge', 'Central Falls', 'Central Islip', 'Central Square', 'Central Valley', 'Centre Island', 'Chadds Ford', 'Chadwicks', 'Chaffee', 'Champlain', 'Chaplin', 'Chapman', 'Chappaqua', 'Charlemont', 'Charleston', 'Charlestown', 'Charlotte', 'Charlotteville', 'Charlton', 'Chase Mills', 'Chateaugay', 'Chatham', 'Chatham Township', 'Chatham Village', 'Chatsworth', 'Chaumont', 'Chazy', 'Chebeague Island', 'Cheektowaga', 'Chelmsford', 'Chelsea', 'Cheltenham', 'Chemung', 'Chenango Bridge', 'Chenango Forks', 'Cherry Creek', 'Cherry Grove', 'Cherry Hill', 'Cherry Hill Township', 'Cherry Valley', 'Cherryfield', 'Cheshire', 'Chesilhurst', 'Chester', 'Chester Heights', 'Chester Township', 'Chester Twp', 'Chesterfield', 'Chestertown', 'Chesterville', 'Chestnut Ridge', 'Cheyney', 'Chichester', 'Chicopee', 'Childwold', 'Chilmark', 'China', 'Chincoteague', 'Chittenango', 'Chittenden', 'Christiansted', 'Churchville', 'Churubusco', 'Ciales', 'Cicero', 'Cidra', 'Cincinnatus', 'Cinnaminson', 'Circleville', 'City Line', 'City of Orange Township', 'Claremont', 'Clarence', 'Clarence Center', 'Clarendon', 'Clark', 'Clark Mills', 'Clarksboro', 'Clarksburg', 'Clarksville', 'Claryville', 'Claverack', 'Clay', 'Claymont', 'Clayton', 'Clayville', 'Clementon', 'Clermont', 'Cleveland', 'Clifford', 'Clifford Township', 'Cliffside Park', 'Cliffwood', 'Cliffwood Beach', 'Clifton', 'Clifton Heights', 'Clifton Park', 'Clinton', 'Clinton Corners', 'Clinton Township', 'Clintondale', 'Clintonville', 'Closter', 'Clyde', 'Coamo', 'Cobleskill', 'Cochecton', 'Cody', 'Coeymans', 'Cohasset', 'Cohoes', 'Colchester', 'Cold Brook', 'Cold Spg Hbr', 'Cold Spring', 'Cold Spring Hrbr', 'Colden', 'Colebrook', 'Colesville', 'College Point', 'Collingdale', 'Collingswood', 'Collins', 'Colonia', 'Colonie', 'Colonie Village', 'Colrain', 'Colton', 'Colts Neck', 'Columbia', 'Columbia Cross Roads', 'Columbia Falls', 'Columbus', 'Comerio', 'Commack', 'Concord', 'Concord Township', 'Condado', 'Conesville', 'Congers', 'Conklin', 'Connor Township', 'Conshohocken', 'Constable', 'Constableville', 'Constantia', 'Conway', 'Cookstown', 'Cooper', 'Cooperstown', 'Copake', 'Copake Falls', 'Copenhagen', 'Copiague', 'Coplin Plt', 'Coram', 'Corbin City', 'Corfu', 'Corinna', 'Corinth', 'Corinth Village', 'Cornish', 'Cornville', 'Cornwall', 'Cornwall On Hudson', 'Cornwallville', 'Corona', 'Corozal', 'Cortland', 'Cortlandt Manor', 'Cortlandville', 'Cos Cob', 'Cottekill', 'Cotuit', 'Cove Neck', 'Coventry', 'Cowlesville', 'Coxsackie', 'Coxsackie Village', 'Craftsbury', 'Cragsmoor', 'Cranberry Isles', 'Cranberry Lake', 'Cranbury', 'Cranford', 'Cranston', 'Craryville', 'Crawford', 'Cream Ridge', 'Cresskill', 'Croghan', 'Crompond', 'Cromwell', 'Cross Lake Township', 'Cross River', 'Crosswicks', 'Croton Falls', 'Croton On Hudson', 'Crown Heights', 'Crown Point', 'Croydon', 'Crum Lynne', 'Crystal', 'Cuba', 'Cuddebackville', 'Culebra', 'Cumberland', 'Cummaquid', 'Cummington', 'Cushing', 'Cutchogue', 'Cutler', 'Cuyler', 'Dallas Plt', 'Dalton', 'Damariscotta', 'Damascus', 'Danbury', 'Danby', 'Danforth', 'Dannemora', 'Danube', 'Danvers', 'Danville', 'Darby', 'Darien', 'Darien Center', 'Dartmouth', 'Davenport', 'Davis Park', 'Day', 'Dayton', 'De Peyster', 'DeKalb Junction', 'DeRuyter', 'Deal', 'Deansboro', 'Decatur', 'Dedham', 'Deep River', 'Deepwater', 'Deer Isle', 'Deer Park', 'Deerfield', 'Deering', 'Deferiet', 'Del Haven', 'Delancey', 'Delanco', 'Delanson', 'Delaware', 'Delaware City', 'Delaware Township', 'Delaware Water Gap', 'Delevan', 'Delhi', 'Delmont', 'Delran', 'Demarest', 'Denmark', 'Dennis', 'Dennis Port', 'Dennis Township', 'Dennisville', 'Dennysville', 'Denver', 'Denville', 'Depauville', 'Depew', 'Deposit', 'Deptford', 'Deptford Township', 'Derby', 'Derry', 'Detroit', 'Devens', 'Devon', 'Devonshire', 'Dexter', 'Diamond Beach', 'Diana', 'Dickinson', 'Dickinson Center', 'Dighton', 'Dingmans Ferry', 'Dix Hills', 'Dixfield', 'Dixmont', 'Dobbs Ferry', 'Dolgeville', 'Dorado', 'Dorchester', 'Dorothy', 'Dorset', 'Douglas', 'Douglaston', 'Dover', 'Dover Foxcroft', 'Dover Plains', 'Downsville', 'Doylestown', 'Dracut', 'Dresden', 'Dresher', 'Drexel Hill', 'Dryden', 'Duane', 'Duanesburg', 'Dublin', 'Dudley', 'Dummer', 'Dummerston', 'Dumont', 'Dunbarton', 'Dunellen', 'Dunellen Borough', 'Dunkirk', 'Dunstable', 'Durham', 'Durhamville', 'Duxbury', 'Dyer Brook', 'Dyker Heights', 'Eagle Bay', 'Eagle Lake', 'Eagleswood Township', 'Eagleville', 'Earlton', 'Earlville', 'East Amherst', 'East Amwell', 'East Amwell Township', 'East Atlantic Beach', 'East Aurora', 'East Bangor', 'East Bethany', 'East Boston', 'East Branch', 'East Branch Ny', 'East Bridgewater', 'East Brookfield', 'East Brunswick', 'East Chatham', 'East Concord', 'East Dennis', 'East Durham', 'East Elmhurst', 'East Falmouth', 'East Farmingdale', 'East Fishkill', 'East Flatbush', 'East Granby', 'East Greenbush', 'East Greenwich', 'East Greenwich Township', 'East Haddam', 'East Hampton', 'East Hanover', 'East Hartford', 'East Harwich', 'East Haven', 'East Hills', 'East Islip', 'East Jewett', 'East Kingston', 'East Longmeadow', 'East Lyme', 'East Machias', 'East Marion', 'East Meadow', 'East Meredith', 'East Millinocket', 'East Montpelier', 'East Moriches', 'East Moxie Township', 'East Nassau', 'East New York', 'East Newark', 'East Northport', 'East Norwich', 'East Orange', 'East Otto', 'East Patchogue', 'East Providence', 'East Quogue', 'East Rockaway', 'East Rutherford', 'East Sandwich', 'East Setauket', 'East Stroudsburg', 'East Syracuse', 'East Vineland', 'East Wareham', 'East Williston', 'East Windsor', 'Eastampton', 'Eastbrook', 'Eastchester', 'Eastford', 'Eastham', 'Easthampton', 'Easton', 'Eastport', 'Eaton', 'Eatontown', 'Ebeemee Township', 'Eddington', 'Eddystone', 'Eden', 'Edgartown', 'Edgecomb', 'Edgemere', 'Edgewater', 'Edgewater Park', 'Edinburg', 'Edison', 'Edmeston', 'Edmunds Township', 'Edwards', 'Effingham', 'Egg Harbor', 'Egg Harbor City', 'Egg Harbor Township', 'Eggertsville', 'Egremont', 'Elba', 'Elberon', 'Elbridge', 'Eldora', 'Eldred', 'Eleanor Ct', 'Eliot', 'Elizabeth', 'Elizabeth City', 'Elizabethtown', 'Elizaville', 'Elk Township', 'Elka Park', 'Elkins Park', 'Ellenburg', 'Ellenburg Center', 'Ellenburg Depot', 'Ellenville', 'Ellicottville', 'Ellington', 'Elliottsville Township', 'Ellisburg', 'Ellsworth', 'Elma', 'Elmer', 'Elmhurst', 'Elmira', 'Elmont', 'Elmore', 'Elmsford', 'Elmwood Park', 'Elsmere', 'Embden', 'Emerson', 'Endicott', 'Endwell', 'Enfield', 'Englewood', 'Englewood Cliffs', 'Englishtown', 'Enosburg Falls', 'Ephratah', 'Epping', 'Epsom', 'Equinunk', 'Erdenheim', 'Erial', 'Erieville', 'Erin', 'Erma', 'Errol', 'Erving', 'Erwinna', 'Esopus', 'Esperance', 'Essex', 'Essex Fells', 'Essington', 'Estell Manor', 'Etna', 'Eustis', 'Evans Mills', 'Everett', 'Evesham', 'Ewing', 'Ewing Township', 'Exeter', 'Fabius', 'Fair Haven', 'Fair Lawn', 'Fairfax', 'Fairfield', 'Fairfield Twp', 'Fairhaven', 'Fairlee', 'Fairless Hills', 'Fairton', 'Fairview', 'Fajardo', 'Falconer', 'Fall River', 'Fallsburg', 'Falmouth', 'Fanwood', 'Far Hills', 'Far Rockaway', 'Farmersville Station', 'Farmingdale', 'Farmington', 'Farmingville', 'Fayette', 'Fayetteville', 'Fayston', 'Feasterville Trevose', 'Fenton', 'Fenway', 'Ferndale', 'Ferrisburgh', 'Fieldsboro', 'Fillmore', 'Fine', 'Fineview', 'Fire Island Pine', 'Fire Island Pines', 'Fishers Landing', 'Fishkill', 'Fitchburg', 'Fitzwilliam', 'Flagstaff Township', 'Flanders', 'Flatbush', 'Flatlands', 'Fleischmanns', 'Flemington', 'Fletcher', 'Fletchers Landing Township', 'Floral Park', 'Florence', 'Florham Park', 'Florida', 'Flourtown', 'Floyd', 'Flushing', 'Fly Creek', 'Folcroft', 'Folsom', 'Fonda', 'Fords', 'Forest City', 'Forest City Township', 'Forest Hills', 'Forestburgh', 'Forestdale', 'Forestport', 'Forestville', 'Forked River', 'Fort Ann', 'Fort Covington', 'Fort Edward', 'Fort Edward Village', 'Fort Fairfield', 'Fort Johnson', 'Fort Kent', 'Fort Lee', 'Fort Montgomery', 'Fort Plain', 'Fort Salonga', 'Fort Washington', 'Fortescue', 'Foster', 'Foxboro', 'Framingham', 'Framington', 'Francestown', 'Franconia', 'Frankford Township', 'Frankfort', 'Franklin', 'Franklin Lakes', 'Franklin Park', 'Franklin Square', 'Franklin Township', 'Franklin Twp', 'Franklinville', 'Frederiksted', 'Fredon', 'Fredon Township', 'Freedom', 'Freehold', 'Freeman Township', 'Freeport', 'Freetown', 'Freeville', 'Frelinghuysen', 'Fremont', 'Fremont Center', 'Frenchboro', 'Frenchtown', 'Frenchville', 'Frendale', 'Fresh Meadows', 'Frewsburg', 'Friendship', 'Friendsville', 'Frye Island', 'Fryeburg', 'Fulton', 'Fultonville', 'Furlong', 'Gabriels', 'Gainesville', 'Galen', 'Gallatin', 'Galloway', 'Galloway Township', 'Galway', 'Galway Village', 'Garden City', 'Garden City Park', 'Garden City South', 'Gardiner', 'Gardner', 'Garfield', 'Garland', 'Garnerville', 'Garnet Valley', 'Garrison', 'Garwood', 'Gasport', 'Geneva', 'Genoa', 'Georgetown', 'Georgia', 'German Flatts', 'Germantown', 'Gerritsen Beach', 'Gerry', 'Getzville', 'Ghent', 'Gibbsboro', 'Gibbstown', 'Gilbertsville', 'Gilboa', 'Gilead', 'Gilford', 'Gilgo Beach', 'Gill', 'Gillett', 'Gilmanton', 'Gilsum', 'Gladwyne', 'Glasco', 'Glassboro', 'Glastonbury', 'Glen', 'Glen Aubrey', 'Glen Cove', 'Glen Gardner', 'Glen Head', 'Glen Mills', 'Glen Oaks', 'Glen Park', 'Glen Riddle', 'Glen Ridge', 'Glen Ridge Boro Township', 'Glen Rock', 'Glen Spey', 'Glenburn', 'Glendale', 'Glendora', 'Glenfield', 'Glenford', 'Glenham', 'Glenolden', 'Glens Falls', 'Glenside', 'Glenville', 'Glenwood', 'Glenwood Landing', 'Glenwood Plt', 'Glocester', 'Gloucester', 'Gloucester City', 'Gloucester Township', 'Glover', 'Gloversville', 'Godeffroy', 'Goffstown', 'Goldens Bridge', 'Gorham', 'Goshen', 'Gouldsboro', 'Gouverneur', 'Gowanda', 'Gowanus', 'Grafton', 'Grahamsville', 'Granby', 'Grand Falls Township', 'Grand Island', 'Grand Isle', 'Grand Lake Stream', 'Grand Lake Stream Plt', 'Granite Springs', 'Grantham', 'Granville', 'Granville Village', 'Grassy Sound', 'Gravesend', 'Gray', 'Great Barrington', 'Great Bend', 'Great Neck', 'Great Neck Plaza', 'Great Pond', 'Great River', 'Great Valley', 'Greeley', 'Green Brook', 'Green Creek', 'Green Island', 'Green Island Village', 'Green Township', 'Greenbush', 'Greene', 'Greenfield', 'Greenfield Park', 'Greenfield Township', 'Greenlaw Chopping Twp', 'Greenlawn', 'Greenpoint', 'Greenport', 'Greensboro', 'Greenvale', 'Greenvile Center', 'Greenville', 'Greenwich', 'Greenwich Township', 'Greenwood', 'Greenwood Lake', 'Grenloch', 'Grindstone Twp', 'Griswold', 'Groton', 'Groveland', 'Guanica', 'Guayama', 'Guayanilla', 'Guaynabo', 'Guilderland', 'Guildhall', 'Guilford', 'Gulph Mills', 'Gurabo', 'Guttenberg', 'Hackensack', 'Hackettstown', 'Haddam', 'Haddon Heights', 'Haddon Township', 'Haddonfield', 'Hadley', 'Hagaman', 'Hague', 'Haines Falls', 'Hainesport', 'Halcott Center', 'Haledon', 'Hales Location', 'Halesite', 'Halfmoon', 'Halifax', 'Hallowell', 'Hallstead', 'Hamburg', 'Hamden', 'Hamilton', 'Hamilton Square', 'Hamilton Township', 'Hamlin', 'Hammond', 'Hammonton', 'Hampden', 'Hampstead', 'Hampton', 'Hampton Bays', 'Hampton Falls', 'Hancock', 'Hancocks Bridge', 'Hankins', 'Hannacroix', 'Hannawa Falls', 'Hannibal', 'Hanover', 'Hanover Township', 'Hanover Twp', 'Hanson', 'Hardenburgh', 'Harding Township', 'Hardwick', 'Hardwick Twp', 'Hardyston', 'Harford', 'Harmony', 'Harmony Township', 'Harpersfield', 'Harpswell', 'Harpursville', 'Harrietstown', 'Harriman', 'Harrington', 'Harrington Park', 'Harris', 'Harrison', 'Harrisville', 'Hartford', 'Hartland', 'Hartsdale', 'Hartwick', 'Harvard', 'Harvey Cedars', 'Harwich', 'Harwich Port', 'Harwinton', 'Hasbrouck Heights', 'Hastings', 'Hastings On Hudson', 'Hatfield', 'Hatillo', 'Hato Rey', 'Hauppauge', 'Haverford', 'Haverhill', 'Haverstraw', 'Havertown', 'Hawley', 'Haworth', 'Hawthorne', 'Haynesville', 'Hazlet', 'Hazlet Township', 'Head of Harbor', 'Hebron', 'Hector', 'Heislerville', 'Helena', 'Helmetta', 'Hempstead', 'Henderson', 'Henderson Harbor', 'Henniker', 'Hensonville', 'Herkimer', 'Hermon', 'Hersey', 'Herseytown Township', 'Heuvelton', 'Hewlett', 'Hewlett Bay Park', 'Hewlett Harbor', 'Hicksville', 'High Bridge', 'High Falls', 'Highgate', 'Highland', 'Highland Falls', 'Highland Lake', 'Highland Mills', 'Highland Park', 'Highlands', 'Hightstown', 'Hill', 'Hillburn', 'Hillcrest', 'Hills Rd', 'Hillsborough', 'Hillsborough Twp', 'Hillsdale', 'Hillside', 'Hinckley', 'Hinesburg', 'Hingham', 'Hinsdale', 'Hiram', 'Ho Ho Kus', 'Hobart', 'Hoboken', 'Hockessin', 'Hodgdon', 'Hoffmeister', 'Holbrook', 'Holden', 'Holderness', 'Holland', 'Holland Patent', 'Holland Township', 'Holley', 'Hollis', 'Hollis Center', 'Hollis Hills', 'Holliston', 'Holliswood', 'Holmdel', 'Holmes', 'Holtsville', 'Holyoke', 'Homer', 'Honesdale', 'Hooksett', 'Hoosick', 'Hoosick Falls', 'Hopatcong', 'Hope', 'Hopedale', 'Hopelawn', 'Hopewell', 'Hopewell Junction', 'Hopewell Township', 'Hopkinton', 'Horicon', 'Hormigueros', 'Hortontown Rd', 'Hortonville', 'Houghton', 'Houlton', 'Howard Beach', 'Howell', 'Howland', 'Hubbardston', 'Hubbardsville', 'Hubbardton', 'Hudson', 'Hudson Falls', 'Huguenot', 'Hull', 'Hulmeville', 'Humacao', 'Hunt', 'Hunter', 'Hunter Village', 'Huntingdon Valley', 'Huntingtn Sta', 'Huntington', 'Huntington Bay', 'Huntington Sta', 'Hunting

In [102]:
df['state'].value_counts()

state
New York          67159
New Jersey        32601
Connecticut       13753
Massachusetts     10051
Pennsylvania       9549
Maine              4938
New Hampshire      3431
Rhode Island       3332
Puerto Rico        2645
Vermont            2544
Delaware           1290
Virgin Islands      730
Virginia              7
Georgia               5
West Virginia         1
Tennessee             1
Wyoming               1
South Carolina        1
Louisiana             1
Name: count, dtype: int64

In [103]:
Geographic_region = {
    "Northeast": ["Connecticut", "Maine", "Massachusetts", "New Hampshire", "New Jersey", "New York", "Pennsylvania", "Rhode Island", "Vermont"],
    "Midwest": ["Illinois", "Indiana", "Iowa", "Kansas", "Michigan", "Minnesota", "Missouri", "Nebraska", "North Dakota", "Ohio", "South Dakota", "Wisconsin"],
    "South": ["Alabama", "Arkansas", "Delaware", "District of Columbia", "Florida", "Georgia", "Kentucky", "Louisiana", "Maryland", "Mississippi", "North Carolina", "Oklahoma", "South Carolina", "Tennessee", "Texas", "Virginia", "West Virginia"],
    "West": ["Alaska", "Arizona", "California", "Colorado", "Hawaii", "Idaho", "Montana", "Nevada", "New Mexico", "Oregon", "Utah", "Washington", "Wyoming"],
    "Territories": ["American Samoa", "Guam", "the Northern Mariana Islands", "Puerto Rico", "Virgin Islands"]
}

In [104]:
state_to_region = {state: region for region, states in Geographic_region.items() for state in states}
state_to_region

{'Connecticut': 'Northeast',
 'Maine': 'Northeast',
 'Massachusetts': 'Northeast',
 'New Hampshire': 'Northeast',
 'New Jersey': 'Northeast',
 'New York': 'Northeast',
 'Pennsylvania': 'Northeast',
 'Rhode Island': 'Northeast',
 'Vermont': 'Northeast',
 'Illinois': 'Midwest',
 'Indiana': 'Midwest',
 'Iowa': 'Midwest',
 'Kansas': 'Midwest',
 'Michigan': 'Midwest',
 'Minnesota': 'Midwest',
 'Missouri': 'Midwest',
 'Nebraska': 'Midwest',
 'North Dakota': 'Midwest',
 'Ohio': 'Midwest',
 'South Dakota': 'Midwest',
 'Wisconsin': 'Midwest',
 'Alabama': 'South',
 'Arkansas': 'South',
 'Delaware': 'South',
 'District of Columbia': 'South',
 'Florida': 'South',
 'Georgia': 'South',
 'Kentucky': 'South',
 'Louisiana': 'South',
 'Maryland': 'South',
 'Mississippi': 'South',
 'North Carolina': 'South',
 'Oklahoma': 'South',
 'South Carolina': 'South',
 'Tennessee': 'South',
 'Texas': 'South',
 'Virginia': 'South',
 'West Virginia': 'South',
 'Alaska': 'West',
 'Arizona': 'West',
 'California': 'West',
 'Colorado': 'West',
 'Hawaii': 'West',
 'Idaho': 'West',
 'Montana': 'West',
 'Nevada': 'West',
 'New Mexico': 'West',
 'Oregon': 'West',
 'Utah': 'West',
 'Washington': 'West',
 'Wyoming': 'West',
 'American Samoa': 'Territories',
 'Guam': 'Territories',
 'the Northern Mariana Islands': 'Territories',
 'Puerto Rico': 'Territories',
 'Virgin Islands': 'Territories'}

In [105]:
df['region']=df['state'].map(state_to_region)

In [106]:
df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price,region
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601,920.0,NaT,105000.0,Territories
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601,1527.0,NaT,80000.0,Territories
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795,748.0,NaT,67000.0,Territories
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731,1800.0,NaT,145000.0,Territories
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680,NaN,NaT,65000.0,Territories

In [107]:
df.drop(columns=['city', 'state'], inplace=True)

In [108]:
house_size_region = df.groupby('region').aggregate({'status':'count', 'house_size':['mean', 'median', pd.Series.mode]})
print(house_size_region)

             status   house_size
              count         mean  median    mode
region
Northeast    147358  2148.257242  1689.0  1200.0
South          1306  2111.880435  1900.0  1200.0
Territories    3375  2894.756491  1500.0  1000.0
West              1  1935.000000  1935.0  1935.0

In [109]:
acre_region = df.groupby('region').aggregate({'status':'count', 'acre_lot':['mean', 'median', pd.Series.mode]})
print(acre_region)

             status   acre_lot
              count       mean median  mode
region
Northeast    147358  26.024248   0.29  0.11
South          1306   2.291057   0.15  0.05
Territories    3375  49.095632   0.29  0.08
West              1   0.290000   0.29  0.29

In [110]:
price_region = df.groupby('region')['price'].describe()
print(price_region)

                count           mean           std       min       25%  \
region
Northeast    147341.0  865940.425096  3.133396e+06       0.0  229900.0
South          1303.0  373083.561781  2.919539e+05   14900.0  200000.0
Territories    3375.0  711323.050963  1.872031e+06   15900.0   95000.0
West              1.0  535000.000000           NaN  535000.0  535000.0

                  50%       75%          max
region
Northeast    429900.0  795000.0  875000000.0
South        315000.0  474950.0    3950000.0
Territories  185000.0  499700.0   25000000.0
West         535000.0  535000.0     535000.0

In [111]:
result = df.groupby('region').aggregate({'status':'count', 'house_size':['mean', 'median'],'price':['mean','median'], 'acre_lot':['mean', 'median']})
print(result)

             status   house_size                  price             acre_lot  \
              count         mean  median           mean    median       mean
region
Northeast    147358  2148.257242  1689.0  865940.425096  429900.0  26.024248
South          1306  2111.880435  1900.0  373083.561781  315000.0   2.291057
Territories    3375  2894.756491  1500.0  711323.050963  185000.0  49.095632
West              1  1935.000000  1935.0  535000.000000  535000.0   0.290000


            median
region
Northeast     0.29
South         0.15
Territories   0.29
West          0.29

In [112]:
# Defining a function to get month
def getMonth(DOJ):
    if not pd.isna(DOJ):
        return(DOJ.strftime('%B'))
 
# Defining a function to get year
def getYear(DOJ):
    if not pd.isna(DOJ):
        return(DOJ.strftime('%Y'))
 
# Applying the month and year extractor functions
df['Month']=df['prev_sold_date'].apply(getMonth)
df['Year']=df['prev_sold_date'].apply(getYear)
print(df)

           status   bed  bath  acre_lot zip_code  house_size prev_sold_date  \
0        for_sale   3.0   2.0      0.12      601       920.0            NaT
1        for_sale   4.0   2.0      0.08      601      1527.0            NaT
2        for_sale   2.0   1.0      0.15      795       748.0            NaT
3        for_sale   4.0   2.0      0.10      731      1800.0            NaT
4        for_sale   6.0   2.0      0.05      680         NaN            NaT
...           ...   ...   ...       ...      ...         ...            ...
1401002  for_sale   3.0   2.0      0.22    14739       532.0     2004-06-22
1401048  for_sale   1.0   1.0      0.25    14062       696.0            NaT
1401058  for_sale   3.0   2.0      3.00    14740      1568.0     1999-12-27
1401059  for_sale   5.0   2.0      0.55    14716      4260.0            NaT
1401063  for_sale  10.0   4.0      0.43    14716      4802.0     1994-12-01

            price       region     Month  Year
0        105000.0  Territories      None  None
1         80000.0  Territories      None  None
2         67000.0  Territories      None  None
3        145000.0  Territories      None  None
4         65000.0  Territories      None  None
...           ...          ...       ...   ...
1401002  118500.0    Northeast      June  2004
1401048  139000.0    Northeast      None  None
1401058  189900.0    Northeast  December  1999
1401059   95000.0    Northeast      None  None
1401063  120000.0    Northeast  December  1994

[152040 rows x 11 columns]

In [113]:
sales_month = df.groupby('Month')['status'].value_counts().unstack().fillna(0)
print(sales_month)

status     for_sale
Month
April          6171
August         7489
December       6859
February       5304
January        6021
July           7520
June           7134
March          6075
May            6515
November       6364
October        7152
September      6815

In [114]:
sales_year = df.groupby('Year')['status'].value_counts().unstack().fillna(0)
sales_dict=sales_year.to_dict()

In [115]:
test_df=pd.DataFrame.from_dict(data=sales_dict)
test_df.sort_values(by='for_sale', ascending=False, inplace=True)
test_df.head(40)

      for_sale
2021      5931
2018      4409
2017      4319
2019      4279
2016      3795
2020      3584
2005      3306
2015      3244
2006      3179
2007      2874
2014      2726
2004      2723
2013      2476
2022      2353
2008      2277
2012      1980
2003      1958
2010      1865
2009      1863
2002      1769
2011      1735
2001      1535
2000      1504
1999      1494
1998      1391
1997      1275
1996      1055
1994       970
1995       921
1993       841
1987       724
1992       683
1988       653
1990       598
1991       574
1989       560
1986       543
1985       343
1984       183
1983       145

In [116]:
'''
for g in df.groupby(by = ['bath']):
    print(g[0])
    print(g[1]['bed'].mean())
'''

"\nfor g in df.groupby(by = ['bath']):\n    print(g[0])\n    print(g[1]['bed'].mean())\n"

In [120]:
df.drop(columns=['Year', 'Month'], inplace=True)

In [121]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['region']) 
one_hot_encoded_data.head()

,status,bed,bath,acre_lot,zip_code,house_size,prev_sold_date,price,region_Northeast,region_South,region_Territories,region_West
0,for_sale,3.0,2.0,0.12,601,920.0,NaT,105000.0,False,False,True,False
1,for_sale,4.0,2.0,0.08,601,1527.0,NaT,80000.0,False,False,True,False
2,for_sale,2.0,1.0,0.15,795,748.0,NaT,67000.0,False,False,True,False
3,for_sale,4.0,2.0,0.10,731,1800.0,NaT,145000.0,False,False,True,False
4,for_sale,6.0,2.0,0.05,680,NaN,NaT,65000.0,False,False,True,False

In [83]:
'''
from sklearn.preprocessing import OneHotEncoder
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(df[['region']]).toarray())
# merge with main df bridge_df on key values
bridge_df = df.join(enc_df)
bridge_df
'''

"\nfrom sklearn.preprocessing import OneHotEncoder\n# creating instance of one-hot-encoder\nenc = OneHotEncoder(handle_unknown='ignore')\n# passing bridge-types-cat column (label encoded values of bridge_types)\nenc_df = pd.DataFrame(enc.fit_transform(df[['region']]).toarray())\n# merge with main df bridge_df on key values\nbridge_df = df.join(enc_df)\nbridge_df\n"

In [122]:
import pandas as pd

# Assuming 'region' is the column you want to create dummy variables for
dum_df = pd.get_dummies(df['region'], prefix='Region_is')

dum_df = dum_df.astype(int)

# Merge with the main DataFrame on the index (assuming 'region' is the index)
bridge_df = pd.merge(df, dum_df, left_index=True, right_index=True)

# If 'region' is not the index, you can specify the key column in the 'on' parameter
# bridge_df = pd.merge(df, dum_df, left_on='region', right_index=True)

print(bridge_df)

           status   bed  bath  acre_lot zip_code  house_size prev_sold_date  \
0        for_sale   3.0   2.0      0.12      601       920.0            NaT
1        for_sale   4.0   2.0      0.08      601      1527.0            NaT
2        for_sale   2.0   1.0      0.15      795       748.0            NaT
3        for_sale   4.0   2.0      0.10      731      1800.0            NaT
4        for_sale   6.0   2.0      0.05      680         NaN            NaT
...           ...   ...   ...       ...      ...         ...            ...
1401002  for_sale   3.0   2.0      0.22    14739       532.0     2004-06-22
1401048  for_sale   1.0   1.0      0.25    14062       696.0            NaT
1401058  for_sale   3.0   2.0      3.00    14740      1568.0     1999-12-27
1401059  for_sale   5.0   2.0      0.55    14716      4260.0            NaT
1401063  for_sale  10.0   4.0      0.43    14716      4802.0     1994-12-01

            price       region  Region_is_Northeast  Region_is_South  \
0        105000.0  Territories                    0                0
1         80000.0  Territories                    0                0
2         67000.0  Territories                    0                0
3        145000.0  Territories                    0                0
4         65000.0  Territories                    0                0
...           ...          ...                  ...              ...
1401002  118500.0    Northeast                    1                0
1401048  139000.0    Northeast                    1                0
1401058  189900.0    Northeast                    1                0
1401059   95000.0    Northeast                    1                0
1401063  120000.0    Northeast                    1                0

         Region_is_Territories  Region_is_West
0                            1               0
1                            1               0
2                            1               0
3                            1               0
4                            1               0
...                        ...             ...
1401002                      0               0
1401048                      0               0
1401058                      0               0
1401059                      0               0
1401063                      0               0

[152040 rows x 13 columns]